# Database Configuration
MYSQL_ROOT_PASSWORD=change_this_root_password
MYSQL_USER=sysmonitor
MYSQL_PASSWORD=change_this_db_password

# Admin User Configuration
ADMIN_EMAIL=admin@yourdomain.com
ADMIN_PASSWORD=change_this_admin_password

# JWT Secret (generate a new one using: openssl rand -base64 64)
JWT_SECRET=u4FgxGbXJbwCkNgh7pYvLTMZG9m6Rkgc4iibtsfLE5CPK7n64Rj2vz9CAdPljUWv
